Repository tams-cso/tams-club-cal, pull requests merged in 2021-02, with the labels that each got.

#245 Popup optimizations and bug fixes
  client/src/components/clubs/club-popup.js
  client/src/components/clubs/club-popup.scss
  client/src/components/clubs/committee-card.scss
  client/src/components/home/event-popup.js
  client/src/components/menu/menu.js
  client/src/functions/routing-requests.js
  client/src/redux/actionTypes.js
  client/src/redux/actions.js
  client/src/redux/reducers/popup.js
  client/src/redux/selectors.js
Labels: frontend, redux

#251 Continue rewrite
  .github/workflows/deploy.yml
  README.md
  client/src/components/clubs/club-popup.js
  client/src/components/clubs/clubs.js
  client/src/components/edit/edit-clubs.js
  client/src/components/edit/edit-clubs.scss
  client/src/components/edit/edit-events.js
  client/src/components/edit/edit-volunteering.js
  client/src/components/edit/edit.js
  client/src/components/edit/edit.scss
  client/src/functions/entries.js
  server/src/app.js
  server/src/database.js
  server/src/status.json
  server/src/util.js
Labels: backend

#254 Oauth 2.0 Login using the Google API
  .gitignore
  README.md
  client/package.json
  client/src/app.js
  client/src/components/edit/auth.js
  client/src/components/edit/auth.scss
  client/src/components/edit/edit-login.js
  client/src/components/edit/edit-login.scss
  client/src/components/edit/edit-volunteering.js
  client/src/custom.scss
  client/src/files/google-logo.svg
  client/src/functions/api.js
  client/src/functions/util.js
  client/yarn.lock
  docs/backend/authentication.md
  docs/backend/expressjs.md
  docs/database/mongodb.md
  docs/database/users-db.md
  server/package.json
  server/src/app.js
  server/src/auth.js
  server/src/database.js
  server/src/status.json
  server/src/util.js
Labels: backend

#260 Edit history
  .github/workflows/deploy.yml
  .github/workflows/staging.yml
  README.md
  client/src/app.js
  client/src/app.scss
  client/src/components/admin/admin-content.js
  client/src/components/admin/admin-content.scss
  client/src/components/admin/admin.js
  client/src/components/admin/databaseInfo.json
  client/src/components/edit/edit-clubs.scss
  client/src/components/edit/edit-history-card.js
  client/src/components/edit/edit-history-card.scss
  client/src/components/edit/edit-history.js
  client/src/components/edit/edit-history.scss
  client/src/components/edit/edit-login.js
  client/src/components/edit/edit.js
  client/src/components/menu/menu.js
  client/src/functions/api.js
  client/src/functions/util.js
  docs/backend/admin.md
  docs/backend/authentication.md
  docs/backend/expressjs.md
  docs/backend/history.md
  docs/database/history-db.md
  server/src/app.js
  server/src/database.js
  server/src/images.js
  server/src/util.js
Labels: backend, frontend, new feature

#262 Add button
  client/src/components/clubs/clubs.js
  client/src/components/home/home.js
  client/src/components/shared/add-button.js
  client/src/components/shared/add-button.scss
  client/src/components/volunteering/volunteering.js
Labels: frontend, new feature
